:root {
  /* Dark theme variables */
  --dark-background-color: #121212;
  --dark-primary-color: #1e1e1e;
  --dark-secondary-color: #333333;
  --dark-text-color: #ffffff;
  --dark-text-color-secondary: #cccccc;

  /* Light theme variables */
  --light-background-color: #ffffff;
  --light-primary-color: #f5f5f5;
  --light-secondary-color: #e0e0e0;
  --light-text-color: #212121;
  --light-text-color-secondary: #757575;

  /* ONU Status
    Offline
    Online
    Disconnected
    OMCI
  */
  --dark-background-onu-offline: #333333;
  --dark-color-onu-offline: #ffffff;
  --dark-background-onu-disconnected: #ff4d4d;
  --dark-color-onu-disconnected: #ffffff;
  --dark-background-onu-online: #4CAF50;
  --dark-color-onu-online: #ffffff;
  --dark-background-onu-omci: #f2e70f;
  --dark-color-onu-omci: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--dark-background-color);
    --primary-color: var(--dark-primary-color);
    --secondary-color: var(--dark-secondary-color);
    --text-color: var(--dark-text-color);
    --text-color-secondary: var(--dark-text-color-secondary);

    --background-onu-offline: var(--dark-background-onu-offline);
    --color-onu-offline: var(--dark-color-onu-offline);
    --background-onu-disconnected: var(--dark-background-onu-disconnected);
    --color-onu-disconnected: var(--dark-color-onu-disconnected);
    --background-onu-online: var(--dark-background-onu-online);
    --color-onu-online: var(--dark-color-onu-online);
    --background-onu-omci: var(--dark-background-onu-omci);
    --color-onu-omci: var(--dark-color-onu-omci);
  }
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.olt {
  margin: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 6px;
}

.onu {
  display: grid;
  margin: 20px;
  color: var(--text-color);
  background-color: var(--primary-color);

  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 8px;
  padding: 20px;
  border-radius: 6px;
}

.onu_info {
  margin: 0;

  color: var(--text-color);
  padding: 8px;
  border-radius: 6px;
}

.onu_actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.onu_info[status="Offline"] {
  background-color: var(--background-onu-offline);
  color: var(--color-onu-offline);
}

.onu_info[status="Disconnected"] {
  background-color: var(--background-onu-disconnected);
  color: var(--color-onu-disconnected);
}

.onu_info[status="Online"] {
  background-color: var(--background-onu-online);
  color: var(--color-onu-online);
}

.onu_info[status="OMCI"] {
  background-color: var(--background-onu-omci);
  color: var(--color-onu-omci);
}