<div class="onu_info" status="{{.Status}}">
  <div class="onu_actions">
    <span class="onu_id">ID: {{ .ID }}</span>
    <button>Disable</button>
  </div>
  <div class="onu_data">
    <div>
      <span>Status: {{ .Status.String }}</span>
    </div>
    {{ if ne .Status 0 }}
    <div>
      <span>GPON SN: {{ .SN }}</span>
    </div>
    {{end}}
    {{ if eq .Status 1 }}
    <div>
      <span>Uptime: {{ .Uptime }}</span>
    </div>
    <div>
      <span>Temperature: {{ .Temperature }} °C</span>
    </div>
    <div>
      <span>Current: {{.Current}} mA</span>
    </div>
    <div>
      <span>TX Power: {{.TxPower}} dBm</span>
    </div>
    <div>
      <span>RX Power: {{.RxPower}} dBm</span>
    </div>
    {{end}}
  </div>
</div>